* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}
.icon-fixed {
    position: fixed;
    z-index: 1;
    top: 80%;
    animation: changePosi 5s infinite;
}
.icon-fixed>a>i {
    position: fixed;
    padding: 15px;
    color: white;
    font-size: 20px;
    right: 40px;
    background-color: rgb(145, 145, 192);
}
@keyframes changePosi {
    to {
        top: 84%;
    }
    from{
        top: 87%;
    }
}
.icon-fixed:hover i {
    background-color: gold;
}

.icon-fixed:focus i {
    border: 3px solid rgb(220, 203, 169);
}
/* common style */
/* first nav start */
nav {
    background-color: rgb(157, 72, 7);
}

.KOPPEE{
    color: white;
    font-size: 60px;
    font-weight: bolder;
}

.navbar-nav li a {
    color: white;
    font-size: 18px;
}

.collapse>ul {
    border-radius: 0;
}

.dropdown-menu li a {
    color: rgb(174, 19, 19);
}

/* first nav end */
/* first section start */
.carousel-inner .carousel-itme div{
    margin-top: 60px;
}
.carousel-caption>h1 {
    font-size: 120px;
    font-weight: bolder;
    position: relative;
}

.carousel-caption>h2 {
    font-size: 30px;
    color: rgb(213, 129, 69);
    margin-top: 100%;
}

.carousel-caption>h3 {
    font-size: 30px;
}
/*  first section end */
/*  secound section start */

.about-us>h3 {
    color: chocolate;
    text-align: center;
    margin-top: 20px;
}
.about-us>h1 {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}
.about-us div {
    margin: 30px;
}

.about-us>div>img {
    text-align: center;
    width: 400px;
    height: 400px;
}
.our-story>h2 {
    font-size: 40px;
    font-weight: bolder;
}

.our-story>p {
    font-weight: bolder;
}

.our-story .Takimata {
    font-weight: 300;
}

.our-story>button {
    padding: 7px 25px;
    border: 0;
    background-color: rgb(163, 167, 77);
    font-size: 20px;
    color: white;
}
.our-Vision>h2 {
    font-size: 40px;
    font-weight: bolder;
}

.our-Vision .Takimata {
    font-weight: 300;
}
.our-Vision>ul li {
    font-size: 18px;
}

.our-Vision>ul li i {
    margin-right: 8px;
    color: brown;
    font-size: 22px;
}

.our-Vision>button {
    padding: 7px 25px;
    border: 0;
    background-color: rgb(41, 192, 68);
    font-size: 20px;
    color: white;
}

/*  secound section end */
/* third section start */
.our-services {
    display: grid;
}

.our-services>h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    color: coral;
}

.our-services>h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 70px;
    font-weight: bolder;
}

.our-services .Fresh {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.our-services .Fresh img {
    height: 200px;
    width: 200px;
}

.our-services .Fresh .Fastest h2>i {
    padding: 10px;
    font-size: 20px;
    background-color: rgb(207, 143, 97);
    border-radius: 100%;
    margin-right: 8px;
    margin-bottom: 0;
}

.our-services .Fresh .Fastest {
    display: flex;
}

.our-services .Fresh .Fastest div {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(1, 1fr);
}

.our-services .Fresh .Fastest div>h2 {
    font-size: 25px;
}

.our-services .Fresh .Fastest div>p {
    font-weight: 300;
}

/* third section end */
/* five section start */
.offers {
    padding-top: 10px;
    background-image: url(./bg.jpg);
    height: 500px;
    position: relative;
}
.offers .img-cut {
    display: flex;
    top: -1px;
    position: absolute;
    width: 100%;
}
.offers .img-cut img {
    width: 25%;
}

.offers .img-cut2 {
    display: flex;
    position: absolute;
    bottom: -1px;
    width: 100%;
}
.offers .img-cut2 img {
    width: 25%;
}

.offers2 {
    display: grid;
    justify-content: center;
}
.offer-inside-div {
    color: white;
    text-align: center;
    padding: 40px;
    z-index: 1;
}

.offer-inside-div>span {
    color: rgb(227, 99, 48);
    font-size: 70px;
    font-weight: bolder;
}

.offer-inside-div>h4 {
    margin-bottom: 35px;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    justify-content: center;
}

.input-group .border-0 {
    border: 0 !important;
    padding: 20px 30px;
}

.input-group .btn {
    background-color: coral;
    position: relative;
    z-index: 2;
    border-radius: 0;
    padding: 20px !important;
}
/* five section end */
/* sixth section start */

.Pricing {
    display: grid;
    justify-content: center;
    margin: 0;
}
.virtical-div {
    padding: 0 !important;
    text-align: center;
}

.virtical-div .Vertical-line {
    width: 2px;
    height: 100px;
    background-color: rgb(218, 162, 59);
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.virtical-div h4 {
    color: rgb(205, 197, 88);
}

.virtical-div h1 {
    font-size: 60px;
    font-weight: bold;
}

.coffee-menu .menu-boxs {
    margin-top: 30px;
}

.coffee-menu .menu-boxs h1 {
    font-weight: bold;
    color: #412824;
}

.coffee-menu .menu-boxs .mini-cart2 {
    display: flex !important;
    margin-top: 30px;
    height: auto;
    padding: 20px;
}
.coffee-menu .menu-boxs .mini-cart2 .coffees{
    position: relative;
}
.coffee-menu .menu-boxs .mini-cart2 .coffees .dollar-icon {
    background-color: #D38D3C;
    position: absolute;
    padding: 7px;
    border-radius: 100%;
    right: 0;
}

.coffee-menu .menu-boxs .mini-cart2 .coffees img {
    height: 120px;
    width: 120px;
    border-radius: 100%;
}
.coffee-menu .menu-boxs .mini-cart2 .inside-cart{
    margin-left: 20px;
}
/* sixth section end */
/* seven section start */

.off {
    background-image: url(./bg.jpg);
    margin: 50px;
    position: relative;
    width: 90%;
}

.off .img-cut {
    display: flex;
    top: -1px;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.off .img-cut img {
    width: 25%;
    height: 20px;
}

.off .off-div {
    display: flex;
    margin: 40px;
    color: white;
}

.off .off-div .Online {
    width: 50%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.off .off-div .Online h1 {
    font-size: 60px;
    font-weight: bolder;
    color: coral;
}

.off .off-div .Online h3 {
    font-size: 40px;
    font-weight: bolder;
}

.off .off-div .Online p {
    font-size: 20px;
    width: 90%;
}
.off .off-div .Online ul li {
    font-size: 20px;
}

.off .off-div .Online ul li i {
    color: coral;
    font-weight: bolder;
    font-size: 20px;
    margin-right: 8px;
}

.off .off-div .Book {
    width: 50%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.off .off-div .Book h1 {
    font-size: 44px;
    text-align: center;
    font-weight: bolder;
}

.off .off-div .Book .form-section {
    bottom: 70px;
    right: 0;
    width: 90%;
    margin: 0;
    display: inline;
    z-index: 1;
}

.off .off-div .Book .form-section input {
    display: block;
    width: 90%;
    height: 60px;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid hsl(32, 63%, 53%);
    color: black;

}

.off .off-div .Book .form-section button {
    padding: 20px;
    margin-top: 20px;
    width: 90%;
    border: 0;
    background-color: #D38D3C;
    font-size: 20px;
}

.off .img-cut2 {
    display: flex;
    position: absolute;
    bottom: -1px;
    width: 100%;
}

.off .img-cut2 img {
    width: 25%;
    height: 20px;
}


/* seven section end */



/* nine section start */

.Testimonial{
    display: grid;
    justify-content: center;  
}
.Testimonial h3{
    color: rgb(231, 210, 53);
    text-align: center;
}
.Testimonial h1{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
.Testimonial .clients-slide{
    display: flex;
}
.Testimonial .clients-slide .clients-div{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.Testimonial .clients-slide .clients-div .coffees{
    display: flex;
}
.Testimonial .clients-slide .clients-div .coffees img{
    border-radius: 0;
    height: 100%;
    width: 25%;
}
.Testimonial .clients-slide .clients-div .coffees span{
    margin-left: 20px;
    width: 100%;
    font-weight: bold;
}
.Testimonial .clients-slide .clients-div.clients-cart{
    margin-left: 0;
    padding-left: 0;
    padding-top: 5px;
   
}
/* nine section end */
/* buttom section */

footer{
    background-image: url(./bg.jpg);
    position: relative;
}
footer .img-cut-b{
    display: flex;
    top: -1px;
    position: absolute;
    width: 100%;
}
footer .img-cut-b img{
    width: 25%;
    height: 20px;
}
footer .footer-div {
    margin: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
}
footer .footer-div .footer-info{
    width: 100%;
    display: flex;
    color: white;
}
footer .footer-div .footer-info .childs{
    width: 25%;
    margin-top: 120px;
}
footer .footer-div .footer-info .childs-1 h1{
    font-size: 30px;
    margin-bottom: 20px;
}
footer .footer-div .footer-info .childs-1 ul{
    font-size: 16px;
}
footer .footer-div .footer-info .childs-1 ul li{
    padding: 5px;
}
footer .footer-div .footer-info .childs-1 ul li i{
    margin-right: 5px;
}
footer .footer-div .footer-info .childs-2 h1{
    margin-bottom: 20px;
    font-size: 30px;
}
footer .footer-div .footer-info .childs-2 p{
    font-size: 20px;
}
footer .footer-div .footer-info .childs-2 div i{
    padding: 15px;
    border: 1px solid white;
}
footer .footer-div .footer-info .childs-2 div i:hover {
    background-color: white;
    color: black;
}
footer .footer-div .footer-info .childs-3 h1{
    margin-bottom: 20px;
    font-size: 30px;
}
footer .footer-div .footer-info .childs-3 ul{
    font-size: 18px;
}
footer .footer-div .footer-info .childs-4{
    width: 40%;
}
footer .footer-div .footer-info .childs-4 h1{
    margin-bottom: 20px;
    font-size: 30px;
}
footer .footer-div .footer-info .childs-4 p{
    font-size: 20px;
}
footer .footer-div .footer-info .childs-4 div{
    width: 100%;
}
footer .footer-div .footer-info .childs-4 div input{
    padding: 20px;
    width: 70%;
}
footer .footer-div .footer-info .childs-4 div button{
    background-color: chocolate;
    border-radius: 0;
    padding: 10px;
    width: 30%;
}
/* Copyrights start */
/* Copyrights end */

footer .Copyright {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    color: white;
    margin-top: 50px !important;
}

footer .Copyright h5 a {
    color: rgb(207, 113, 45);
}
footer .Copyright h5 a:hover {
    color: rgb(250, 104, 0);
}
/* buttom section */

@media screen and (max-width:576px) {

    .KOPPEE>a {
        font-size: 40px;
    }
    /* first nav end */
    /* first section start */
    .carousel-caption>h1 {
        font-size: 75px;
    }

    .carousel-caption>h2 {
        font-size: 25px;
    }

    .carousel-caption>h3 {
        font-size: 30px;
    }

    /* third section */
    .about-us>h1 {
        font-size: 30px;
    }
    .about-us>div>img {
        width: 400px;
        height: 400px;
    }

    .about-us .d-lg-flex img{
        width: 90%;
        height: 400px;
    }
    /* forth section  */
    .our-services{
        text-align: center;
    }
    .our-services h3{
        /* width: 40%; */
        font-size: 20px;
    }
    .our-services h1{
        font-size: 30px;
    }
    .our-services .Fresh {
        display: grid;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
    }

    .our-services .Fresh .Fastest {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center !;
    }

    .our-services .Fresh .Fastest>img {
        height: 250px;
        width: 90%;
    }

    /* five section start */
    .img-cut img {
        width: 25%;
        height: 20px;
    }
    .offer-heading {
        font-size: 40px;
        margin: 10px;
    }

    .offer-heading {
        font-size: 70px;
        font-weight: bold;
        color: #DA9F5B;
    }

    .offer-inside-div h1 {
        margin: 15px;
        font-size: 25px;
    }

    .offer-inside-div h1 {
        font-weight: bold;
        color: white;
    }

    .offer-inside-div h4 {
        margin: 15px;
        font-size: 15px;
    }

    .offer-inside-div h4 {
        font-weight: bold;
        color: white;
    }

    .input-group {
        display: flex !important;
        width: 100%;
    }
    .input-group .email-box {
        width: 60%;
        margin-left: -10px;
    }
    .email-box {
        width: 30%;
    }
    .img-cut2 {
        bottom: -1px;
        display: flex;
        position: absolute;
        bottom: -1px;
        width: 100%;
    }
    .img-cut2 img {
        width: 25%;
        height: 20px;
    }

    /* five section end */
    /* sixth section start */
    .Pricing {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .virtical-div h1{
        font-size: 20px;
    }
    main {
        margin-top: 30px;
    }

    .coffee-menu {
        flex-wrap: wrap;
        display: flex;
    }

    .mini-cart2 {
        width: 350px;
        height: 130px;
        margin: 25px;
        margin-left: 0;
    }
    .coffees {
        height: 120px;
        border-radius: 100%;
        position: relative;
    }

    .dollar-icon {
        right: 0;
    }

    .inside-cart {
        width: 100%;
        height: 200px;
        padding: 19px;
    }

    /* sixth section end */
    /* seven section start */

    .off{
        width: 80%;
        margin: auto;
    }
    .off .img-cut {
        display: flex;
        top: -1px;
        position: absolute;
        z-index: 1;
        width: 25%;
    }
    
    .off .img-cut img {
        width: 100%;
        height: 20px;
    }
    .off .off-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .off .off-div .Online {
        width: 100%;
        margin-top: 40px;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .off .off-div .Online h1 {
        font-size: 40px;
        font-weight: bolder;
        color: coral;
    }
    
    .off .off-div .Online h3 {
        font-size: 28px;
        width: 100%;
        font-weight: bolder;
    }
    
    .off .off-div .Online p {
        font-size: 20px;
    }
    .off .off-div .Online ul li {
        font-size: 18px;
    }
    .off .off-div .Book {
        width: 100%;
        margin-top: 20px;
    }
    .off .off-div .Book h1{
        font-size: 35px;
    }
    .off .off-div .Book .form-section input {
        padding: 15px;
    }
    .off .off-div .Book .form-section button{
        padding: 15px;;
    }
    .off .img-cut2 {
        display: flex;
        position: absolute;
        bottom: -1px;
        width: 100%;
    }
    .off .img-cut2 img {
        width: 25%;
        height: 20px;
    }
    
    /* seven section end */
    
    /* nine section start */
    .Testimonial .clients-slide{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    /* nine section end */
    /* buttom section */
    footer .footer-div .footer-info{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    footer .footer-div .footer-info .childs{
        width: 100%;
    }

}

@media screen and (min-width:577px) and (max-width:970px){

    /* third section start */
    .our-services .Fresh {
        display: grid;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
    }
    /* forth section start */
    .Fresh {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    /* forth section end */
    .off{
        width: 70%;
        margin: auto;
    }
    .off .img-cut {
        display: flex;
        top: -1px;
        position: absolute;
        z-index: 1;
        width: 100%;
    }
    
    .off .img-cut img {
        width: 25%;
        height: 20px;
    }
    .off .off-div {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .off .off-div .Online {
        width: 100%;
        margin-top: 40px;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .off .off-div .Online h1 {
        font-size: 40px;
        font-weight: bolder;
        color: coral;
    }
    
    .off .off-div .Online h3 {
        font-size: 28px;
        width: 100%;
        font-weight: bolder;
    }
    
    .off .off-div .Online p {
        font-size: 20px;
    }
    .off .off-div .Online ul li {
        font-size: 18px;
    }
    .off .off-div .Book {
        width: 100%;
        margin-top: 20px;
    }
    .off .off-div .Book h1{
        font-size: 35px;
    }
    .off.off-div .Book .form-section input {
        padding: 15px;
    }
    .off .off-div .Book .form-section button{
        padding: 15px;;
    }
    .off .img-cut2 {
        display: flex;
        position: absolute;
        bottom: -1px;
        width: 100%;
    }
    .off .img-cut2 img {
        width: 25%;
        height: 20px;
    }

    /* eight section */
    .Testimonial .clients-slide{
        display: grid;
        grid-template: repeat(2,1fr);
    }

    /* nine section */
    footer .footer-div .footer-info{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    footer .footer-div .footer-info .childs{
        width: 100%;
    }
    

}

body{
    background-color: white;
}